<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About | MiniCodeArena</title>
<link rel="stylesheet" href="/static/home.css">
</head>
<body>

<header class="navbar">
    <div class="logo">MiniCodeArena</div>
    <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/problems">Problems</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-right">
        <h1>About MiniCodeArena</h1>
        <p>
            MiniCodeArena is a coding practice platform inspired by LeetCode.
            It allows users to solve algorithmic problems, run code,
            submit solutions, and grow as developers.
        </p>
    </div>
    <div class="about-image">
        <img src="/static/picture.png" alt="Coding Illustration">
    </div>
</section>
</body>
</html>
